<!DOCTYPE html>
<html lang="ru">
	<%- include("/head") %>

	<body>
		<main>
			<div class="container">
				<a href="reports.ejs">
					<h1>Отчеты</h1>
				</a>
				<a href="users.ejs">
					<h1>Пользователи</h1>
				</a>
			</div>
		</main>
	</body>

</html>