<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/src/assets/static/original/bootstrap.css">
	<link rel="stylesheet" href="/src/assets/static/original/select2.css">
	<link rel="stylesheet" href="/src/assets/static/original/select2-addl.css">
	<link rel="stylesheet" href="/src/assets/static/original/select2-krajee.css">
	<link rel="stylesheet" href="/src/assets/static/original/kv-widgets.css">
	<link rel="stylesheet" href="/src/assets/static/original/site.css">
	<link rel="stylesheet" href="/src/assets/static/original/font-awesome.min.css">
	<link rel="stylesheet" href="/src/assets/static/original/ivp.css">
	<link rel="stylesheet" href="/src/assets/static/original/gstyle_admin.css">
	<link rel="stylesheet" href="/src/assets/style/style.scss">
	<script src="/src/assets/script/script.js" defer></script>
	<title>Helloworld</title> <script>var s2options_d6851687 = { "themeCss": ".select2-container--krajee", "sizeCss": "", "doReset": true, "doToggle": false, "doOrder": false }
		window.select2_f2c3e5f6 = { "allowClear": false, "minimumInputLength": 2, "language": "ru", "ajax": { "url": "\/ajax\/get-rightholders", "dataType": "json", "delay": 500, "data": function (params) { return { q: params.term } } }, "escapeMarkup": function (markup) { return markup }, "templateResult": function (classif) { return classif.text }, "templateSelection": function (classif) { return classif.text }, "theme": "krajee", "width": "100%", "placeholder": "Укажите издательство" }

		window.select2_840b7eb3 = { "allowClear": false, "minimumInputLength": 2, "language": "ru", "ajax": { "url": "\/ajax\/get-collections", "dataType": "json", "delay": 500, "data": function (params) { return { q: params.term } } }, "escapeMarkup": function (markup) { return markup }, "templateResult": function (classif) { return classif.text }, "templateSelection": function (classif) { return classif.text }, "theme": "krajee", "width": "100%", "placeholder": "Укажите коллекцию" };
</script>
</head>